<template>
  <div class="bg-gray-100 py-8 md:py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-2xl font-semibold mb-4 md:mb-6">
        План питания для: {{ currentDay }}
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 md:gap-6">
        <div
          class="bg-white rounded-md shadow-md p-4 md:p-6 transition-transform transform hover:-translate-y-1 hover:shadow-lg flex flex-col"
          v-for="(meal, mealKey) in mealPlan" :key="mealKey">
          <h3 class="text-lg font-semibold mb-3">{{ mealKey }}</h3>
          <p class="text-gray-600">{{ meal.name }}</p>
          <p class="mt-3 text-gray-700">Рецепт:</p>
          <ul class="mt-2 space-y-1">
            <li v-for="step in meal.recipe" :key="step" class="flex items-start">
              <span class="mr-2 text-green-500">&bull;</span>
              <span class="text-gray-700">{{ step }}</span>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</template>
  
<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {}
  },
  computed: {
    ...mapGetters(["getMealPlanByDay"]),
    mealPlan() {
      return this.getMealPlanByDay(this.currentDay);
    },
    currentDay() {
      return (
        this.$route.params.day.charAt(0).toUpperCase() +
        this.$route.params.day.slice(1)
      )
    }
  },
}
</script>
  
  