<template>
  <div>
    <!-- Hero Section -->
    <section class="bg-gradient-to-r from-blue-500 to-purple-500 text-white py-8 md:py-16">
      <div class="container mx-auto text-center">

        <router-link :to="{ name: 'home' }">
          <h1 class="text-2xl md:text-4xl font-bold mb-2 md:mb-4">
            Ежедневные Планы Питания с Яниной
          </h1>
        </router-link>

        <p class="text-sm md:text-lg">Достигайте своих фитнес-целей с персонализированными планами питания на каждый день
          недели.
        </p>
      </div>
    </section>

    <!-- Navbar with Days of the Week -->
    <nav class="bg-gray-800 text-white py-4">
      <div class="container mx-auto md:hidden flex justify-center space-x-2">
        <div class="flex space-x-4">
          <router-link v-for="(day, index) in days" :key="index" :to="`/day/${day.toLowerCase()}`"
            class="text-sm md:text-lg hover:text-gray-400">
            {{ day.substring(0, 3) }} <!-- Display first 3 letters of the day -->
          </router-link>
        </div>
      </div>
      <div class="hidden md:flex container mx-auto justify-center space-x-4">
        <router-link v-for="(day, index) in days" :key="index" :to="`/day/${day.toLowerCase()}`"
          class="text-sm md:text-lg hover:text-gray-400">
          {{ day }}
        </router-link>
      </div>
    </nav>



    <!-- Main Content -->
    <div class="container mx-auto py-4 md:py-8">
      <router-view></router-view>
    </div>

    <FooterComponent />
  </div>
</template>
  
<script>
import FooterComponent from '@/components/FooterComponent'
export default {
  components: {
    FooterComponent
  },
  data() {
    return {
      days: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота']
    };
  }
};
</script>
  
<style>
/* Add any custom styles here */
</style>
  