<template>
    <footer class="bg-gray-800 text-white py-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2023 Приложение Янины для Питания. Все права защищены.</p>
        </div>
    </footer>
</template>
  
<script>
export default {}
</script>
  