<template>
    <!-- Simple Home Page Layout -->
    <div class="bg-gray-100 h-screen flex flex-col justify-center items-center">
        <h1 class="text-4xl md:text-6xl font-bold mb-4 text-center">
            Добро пожаловать на веб-сайт Янины
        </h1>
        <p class="text-lg md:text-xl text-gray-600 mb-8 text-center">
            Чтобы начать, выберите день сверху.
        </p>
    </div>
</template>
    
<script>
export default {}
</script>